<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Benvenuto su Codenames!</h3>
        </div>
        <div class="panel-body">
                <p style="text-align:center"><img id="homeimg" src="./img/home.png"></p>
        </div>
    </div>
</div>

<div class="row">

    <div id="errorMessage" hidden="hidden">{{ errorMessage }}</div>

</div>
