<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome to Codenames!</h3>
        </div>
        <div class="panel-body">
            <blockquote>
                <p>{{ quote.content }}</p>
                <footer>{{ quote.author }}</footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="row">

    <div id="successMessage" hidden="hidden">{{ successMessage }}</div>
    <div id="errorMessage" hidden="hidden">{{ errorMessage }}</div>

</div>
